//@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --#{$prefix}body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#post-content-body {
  p,
  li {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
b, strong {
  font-weight: 600;
}
pre code {
  font-size: 15px;
  line-height: 1.4rem;
}
#post-content-body a,
.post-summary p a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.top-app-bar .nav-link {
  color: #e7e7e7;
  &.active,
  &:hover {
    color: #fff;
  }
}
@media screen and (max-width: 580px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
//box-shadow:0 14px 25px rgba(0,0,0,.16) = 0 5px 15px rgba(0,0,0,.08)
