@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
:root {
  --#{$prefix}body-font-family:  'Mulish', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media screen and (min-width: 580px) {
  #post-content-body {
    p,
    li {
      font-size: 18px;
      line-height: 2rem;
    }
  }
}
b, strong, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}
pre code {
  font-size: 15px;
  line-height: 1.4rem;
}
#post-content-body a,
.post-summary p a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.top-app-bar .nav-link {
  color: #e7e7e7;
  &.active,
  &:hover {
    color: #fff;
  }
}
@media screen and (max-width: 580px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.container {
  max-width: 1200px;
}
