<div class="ads-left">
  <script type="text/javascript">
    atOptions = {
      key: 'a1917b0cf6ee13c23bda74ce25e7717d',
      format: 'iframe',
      height: 600,
      width: 160,
      params: {}
    };
    document.write(
      '<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/a1917b0cf6ee13c23bda74ce25e7717d/invoke.js" defer></scr' + 'ipt>'
    );
  </script>
</div>
<!-- <div class="ads-right">
  <script type="text/javascript">
    atOptions = {
      'key' : '37a77bc0fe9dc2f5eba7a975aa7f777a',
      'format' : 'iframe',
      'height' : 300,
      'width' : 160,
      'params' : {}
    };
    document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/37a77bc0fe9dc2f5eba7a975aa7f777a/invoke.js" defer></scr' + 'ipt>');
  </script>
</div> -->