<!-- <div class="desktop-ads" style="text-align: center">
  <script async="async" data-cfasync="false" src="//pl22536406.profitablegatecpm.com/566b4322c9d0068297ff96d2833258a4/invoke.js"></script>
  <div id="container-566b4322c9d0068297ff96d2833258a4"></div>
</div>
<div class="mobile-ads" style="text-align: center">
  <script type="text/javascript">
    atOptions = {
      'key' : '20c02bdd1a6ee5d2fd6704c35bf678e3',
      'format' : 'iframe',
      'height' : 50,
      'width' : 320,
      'params' : {}
    };
    if (window.screen.width <= 728) {
      document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/20c02bdd1a6ee5d2fd6704c35bf678e3/invoke.js"></scr' + 'ipt>');
    }
  </script>
</div> -->