<div class="row component card desktop-ads">
  <div class="card-body" style="text-align: center">
    <script type="text/javascript">
      atOptions = {
        key: '11d62ecd2e7498dccd65532382db78d5',
        format: 'iframe',
        height: 90,
        width: 728,
        params: {}
      };
      if (window.screen.width > 728) {
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/11d62ecd2e7498dccd65532382db78d5/invoke.js"></scr' + 'ipt>');
      }
    </script>
  </div>
</div>
<div class="row component card mobile-ads">
  <div class="card-body" style="text-align: center">
    <script type="text/javascript">
      atOptions = {
        'key' : '20c02bdd1a6ee5d2fd6704c35bf678e3',
        'format' : 'iframe',
        'height' : 50,
        'width' : 320,
        'params' : {}
      };
      if (window.screen.width <= 728) {
        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/20c02bdd1a6ee5d2fd6704c35bf678e3/invoke.js"></scr' + 'ipt>');
      }
    </script>
  </div>
</div>